<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="201904108"
    android:versionName="6.11"
    android:compileSdkVersion="31"
    android:compileSdkVersionCodename="12"
    package="com.dp.sgp"
    platformBuildVersionCode="31"
    platformBuildVersionName="12">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="33"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.dp.sgp.application.GurupethApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Profile.UpdateEmailProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Login.CountryOtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Deatils.OfflineSwamiCharitraDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Login.CountryLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Country.CountryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Youtube.YoutubeWebviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Notification.NotificationDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Webview.MapDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Mantra.MantraJapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Home.CalTestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Profile.UpdateProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Login.OtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Login.TermsConditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Login.NewLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Webview.DetailsLinksViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.dp.sgp.View.Activity.Youtube.YoutubeActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.ResetPassword.ResetOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.ResetPassword.PasswordChangedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.ResetPassword.ResetSucessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Deatils.SwamiCharitraDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Home.BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Login.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Splash.SplashScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Registration.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.OtpVerifcation.OtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Home.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.Login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.ForgotPassword.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.dp.sgp.View.Activity.OnBoarding.OnBoardingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/new_notify_launcher"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark"/>
        <service
            android:name="com.dp.sgp.fcm.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.dp.sgp.fcm.MyFirebaseMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.firebase.iid.FirebaseInstanceIdService"
            android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.dp.sgp.firebaseinitprovider"
            android:initOrder="100"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
